body {
	
	background-image: linear-gradient(rgb(181,104,99),rgb(123,91,103), rgb(24,23,33));
	  
	background-repeat:no-repeat;
	background-size:cover;
}

#gameboard {
	width:1000px;
	height:500px;
	position:relative;
	background-image:url("../images/bg1.gif");
	background-repeat:no-repeat;
	background-size:cover;
	margin:auto; 
	border:10px white solid;
	/* margin-top:5%; */
}

#gameover {
	left:60px;
	top:150px;
	margin:auto;
	color:red;
	font-size:150px;
	font-family:arial;
	position:relative;

}

#lives {
	left:700px;
	top:0px;
	color:white;
	font-size:30px;
	font-family:impact;
	position:absolute;
}

#score {
	left:800px;
	top:0px;
	color:white;
	font-size:30px;
	font-family:impact;
	position:absolute;
}

#spaceship {
	width:10px;
	height:10px;
	background-image:url("../images/tank.jpg");
	background-repeat:no-repeat;
	background-size:cover;
}

#alien {
	width:10px;
	height:10px;
	background-image:url("../images/aliens.png");
	background-repeat:no-repeat;
	background-size:cover;
}

/* #fireDOM{
	width:10px;
	height:10px;
	background-color: red;

} */

h1 {
	background-image:url("../images/title1.png");
	width:347px;
	height: 145px;
	background-repeat:no-repeat;
	background-size:cover;
	margin:auto;
	margin-bottom:5px;
	/* color:white;
	font-family: 'Courier New', Courier, monospace;
	font-weight: 100;
	font-size:70px;
	text-align:center;
	margin:3px; */
    /* text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white; */
}
h2{
	margin:4px;
	font-weight: 100;
	font-size:30px;
}

#infoContainer {
	display:flex;
	flex-direction: left;

}

#keys {
	width:100px;
	height:100px;
	background-image:url("../images/keys.jpg");
	background-repeat: no-repeat;
	background-size:cover;
	margin:4px;
}

#infos {
	border:10px white solid;

	background-color:rgba(181,104,99,0.2);
	color:white;
	font-family:arial;
	font-size:20px;
	width:1000px;
	margin-top:10px;
	margin:auto;
	font: 'Poppins', sans-serif;

}

#controls 
{
	margin-left:10px;
	margin-top:20px;
}

#alienDOM{
	width:30px;
	height:30px;
	background-image:url("../images/alien1.gif");
	background-repeat:no-repeat;
	background-size:cover;

} 

#alienDOM1{
	width:30px;
	height:30px;
	background-image:url("../images/alien2.gif");
	background-repeat:no-repeat;
	background-size:cover;

}


